/* Corps de la page */

body {
    background: url(images/Anime_Galaxy_BG.png) no-repeat center fixed;
    background-size: cover;
}

/***************************************************************************************************************/

/* Premier Titre */

.premier_titre {
    margin-left: 38%;
    margin-right: 38%;
    background-color: greenyellow;
    border-style: groove;
    border-color: orangered;
    color: purple;
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
}

/***************************************************************************************************************/

/* "Bloc Premier" */

.style_container_premier {
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    border-style: groove;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

    .premier_titre {
        margin-left: 34%;
        margin-right: 34%;
    }

}

@media screen and (max-width: 980px) {

    .premier_titre {
        margin-left: 30%;
        margin-right: 30%;
    }

}

@media screen and (max-width: 680px) {

    .premier_titre {
        margin-left: 22%;
        margin-right: 22%;
    }

}

@media screen and (max-width: 480px) {

    .premier_titre {
        margin-left: 5%;
        margin-right: 5%;
    }

    .text_comingsoon {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/***************************************************************************************************************/