/* Corps de la page */

body {
    background: url(images/Anime_Galaxy_BG.png) no-repeat center fixed;
    background-size: cover;
}

/***************************************************************************************************************/

/* Premier Titre */

.premier_titre {
    margin-left: 38%;
    margin-right: 38%;
    background-color: greenyellow;
    border-style: groove;
    border-radius: 20px;
    border-color: orangered;
    color: purple;
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

/***************************************************************************************************************/

/* "Bloc Premier" */

.style_container_premier {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(135, 207, 235, 0.75);
    border-radius: 50px;
    border-style: solid;
    text-align: center;
    color: red;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

    .premier_titre {
        margin-left: 34%;
        margin-right: 34%;
    }

}

@media screen and (max-width: 980px) {

    .premier_titre {
        margin-left: 30%;
        margin-right: 30%;
    }

}

@media screen and (max-width: 680px) {

    .premier_titre {
        margin-left: 22%;
        margin-right: 22%;
    }

}

@media screen and (max-width: 480px) {

    .premier_titre {
        margin-left: 5%;
        margin-right: 5%;
    }

    .text_comingsoon {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/***************************************************************************************************************/