/* Corps de la page */

body {
    background: url(images/Paysage_Bleu_Rotate.png) no-repeat center fixed;
    background-size: cover;
}

/***************************************************************************************************************/

/* Premier Titre */

.premier_titre {
    margin-left: 38%;
    margin-right: 38%;
    background-color: greenyellow;
    border-style: groove;
    border-color: orangered;
    color: purple;
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
}

/***************************************************************************************************************/

/* "Container Podcast" */

.container_podcast {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: solid;
}

/***************************************************************************************************************/

/* "Photo Podcast" */

.photo_cybertrance_1,
.photo_cybertrance_2,
.photo_cybertrance_3,
.photo_cybertrance_4,
.photo_cybertrance_5,
.photo_cybertrance_6,
.photo_tst_1,
.photo_st_2,
.photo_ft_v2,
.photo_rxxistance_1,
.photo_rxxistance_2,
.photo_rxxistance_3,
.photo_rxxistance_4,
.photo_sdm1,
.photo_sdm2,
.photo_sdm3,
.photo_mpp,
.photo_aap1,
.photo_aap2,
.photo_aap3,
.photo_fabric09,
.photo_ttv1,
.photo_ttv2,
.photo_ttv3 {
    width: 325px;
    height: 325px;
}

/***************************************************************************************************************/

/* "Tracklisting Podcast" */

.tracklist_cybertrance_1-first,
.tracklist_cybertrance_1-second,
.tracklist_cybertrance_2,
.tracklist_cybertrance_3,
.tracklist_cybertrance_4,
.tracklist_cybertrance_5,
.tracklist_cybertrance_6,
.tracklist_tst_1-first,
.tracklist_st_2-first,
.tracklist_ft_v2-first,
.tracklist_ft_v2-second,
.tracklist_rxxistance_1,
.tracklist_rxxistance_2,
.tracklist_rxxistance_3,
.tracklist_rxxistance_4,
.tracklist_sdm1-first,
.tracklist_sdm1-second,
.tracklist_sdm2-first,
.tracklist_sdm2-second,
.tracklist_sdm3-first,
.tracklist_sdm3-second,
.tracklist_mpp-first,
.tracklist_mpp-second,
.tracklist_aap1-first,
.tracklist_aap2-first,
.tracklist_aap3-first,
.tracklist_fabric09-first,
.tracklist_ttv1-first,
.tracklist_ttv2-first,
.tracklist_ttv3-first
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    border-style: solid;
    font-size: 14px;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    border-style: groove;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1366px) {

    .tracklist_cybertrance_1-first,
    .tracklist_cybertrance_1-second,
    .tracklist_cybertrance_2,
    .tracklist_cybertrance_3,
    .tracklist_cybertrance_4,
    .tracklist_cybertrance_5,
    .tracklist_cybertrance_6,
    .tracklist_tst_1-first,
    .tracklist_st_2-first,
    .tracklist_ft_v2-first,
    .tracklist_ft_v2-second,
    .tracklist_rxxistance_1,
    .tracklist_rxxistance_2,
    .tracklist_rxxistance_3,
    .tracklist_rxxistance_4,
    .tracklist_sdm1-first,
    .tracklist_sdm1-second,
    .tracklist_sdm2-first,
    .tracklist_sdm2-second,
    .tracklist_sdm3-first,
    .tracklist_sdm3-second,
    .tracklist_mpp-first,
    .tracklist_mpp-second,
    .tracklist_aap1-first,
    .tracklist_aap2-first,
    .tracklist_aap3-first,
    .tracklist_fabric09-first,
    .tracklist_ttv1-first,
    .tracklist_ttv2-first,
    .tracklist_ttv3-first {
        padding: 8px;
    }

}

@media screen and (max-width: 1280px) {

    .premier_titre {
        margin-left: 34%;
        margin-right: 34%;
    }

}

@media screen and (max-width: 980px) {

    .premier_titre {
        margin-left: 30%;
        margin-right: 30%;
    }

}

@media screen and (max-width: 680px) {

    .premier_titre {
        margin-left: 22%;
        margin-right: 22%;
    }

}

@media screen and (max-width: 480px) {

    .premier_titre {
        margin-left: 5%;
        margin-right: 5%;
    }

    .photo_cybertrance_1,
    .photo_cybertrance_2,
    .photo_cybertrance_3,
    .photo_cybertrance_4,
    .photo_cybertrance_5,
    .photo_cybertrance_6,
    .photo_tst_1,
    .photo_st_2,
    .photo_ft_v2,
    .photo_rxxistance_1,
    .photo_rxxistance_2,
    .photo_rxxistance_3,
    .photo_rxxistance_4,
    .photo_sdm1,
    .photo_sdm2,
    .photo_sdm3,
    .photo_mpp,
    .photo_aap1,
    .photo_aap2,
    .photo_aap3,
    .photo_fabric09,
    .photo_ttv1,
    .photo_ttv2,
    .photo_ttv3 {
        width: 225px;
        height: 225px;
    }

    .tracklist_cybertrance_1-first,
    .tracklist_cybertrance_1-second,
    .tracklist_cybertrance_2,
    .tracklist_cybertrance_3,
    .tracklist_cybertrance_4,
    .tracklist_cybertrance_5,
    .tracklist_cybertrance_6,
    .tracklist_tst_1-first,
    .tracklist_st_2-first,
    .tracklist_ft_v2-first,
    .tracklist_ft_v2-second,
    .tracklist_rxxistance_1,
    .tracklist_rxxistance_2,
    .tracklist_rxxistance_3,
    .tracklist_rxxistance_4,
    .tracklist_sdm1-first,
    .tracklist_sdm1-second,
    .tracklist_sdm2-first,
    .tracklist_sdm2-second,
    .tracklist_sdm3-first,
    .tracklist_sdm3-second,
    .tracklist_mpp-first,
    .tracklist_mpp-second,
    .tracklist_aap1-first,
    .tracklist_aap2-first,
    .tracklist_aap3-first,
    .tracklist_fabric09-first,
    .tracklist_ttv1-first,
    .tracklist_ttv2-first,
    .tracklist_ttv3-first {
        font-size: 12px;
    }

    .text_comingsoon {
        margin-left: 25px;
        margin-right: 25px;
    }
}


/***************************************************************************************************************/