#rose {
    background-color: pink;
    height: 5%;
    width: 10%;
}

#vert {
    background-color: green;
    height: 5%;
    width: 10%;
}

#bleu {
    background-color: blue;
    height: 5%;
    width: 10%;
}