.container_TheDM_Background {
    background: url(images/The_Death_Matrix_Background.png) no-repeat center fixed; 
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 400px;
}

/***************************************************************************************************************/

.container_presentation_avenir, .container_realisation {
  font-family: sans-serif;
}

/***************************************************************************************************************/

.container_BSC_Background {
  background: url(images/Binary_System-Code_Wallpaper.png) no-repeat center fixed; 
  background-size: cover;
  padding-top: 500px;
  padding-bottom: 500px;
}

/***************************************************************************************************************/

.container_title_LI, .container_title_PG, .container_PG {
  font-family: Verdana, Geneva, sans-serif;
}

/***************************************************************************************************************/

.container_LI {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Verdana, Geneva, sans-serif
}

/***************************************************************************************************************/

.container_PG {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/***************************************************************************************************************/

.container_ME_Background {
  background: url(images/Matrix_Effect.gif) no-repeat center fixed; 
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {

  .container_LI {
    flex-direction: column;
    justify-content: none;
  }

}

@media screen and (max-width: 680px) {

  .container_PG {
    flex-direction: column;
    justify-content: none;
  }

}

@media screen and (max-width: 480px) {

}

/***************************************************************************************************************/