/* Corps de la page */

body {
    background: url(images/Stalker_AN.png) no-repeat center fixed; 
    background-size: cover;
}

/***************************************************************************************************************/

/* Premier Titre */

.premier_titre {
    margin-left: 34%;
    margin-right: 34%;
    background-color: deepskyblue;
    border-style: solid;
    color: black;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}

/***************************************************************************************************************/

/* "Bloc Test" */

.style_container_test {
    background-color: red;
    border-style: solid;
    padding-left: 10px;
    margin-right: 12%;
    margin-left: 12%;
    font-family: 'Calibri', serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.li_premier:hover {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 73, 230);
}

.li_deuxième:hover {
    background-color: rgb(160, 160, 160);
    color: rgb(255, 238, 0);
}

.li_troisième:hover {
    background-color: rgb(90, 90, 90);
    color: rgb(9, 190, 9);
}

/***************************************************************************************************************/

/* "Bloc Tableau" */

.container_tableau {
    margin-left: 2%;
    margin-right: 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

td,
th {
    border: 1px solid #e45411;
    text-align: left;
    padding: 8px;
}

.style_tableau_main,
.style_tableau_f {
    background-color: lightblue;
}

.rotate:hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.style_tableau_m {
    background-color: lightgreen;
}

/***************************************************************************************************************/

/* Bloc Image Aléatoire */

.flex_premier_container {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
}

/***************************************************************************************************************/

/* Bloc Calcul */

.style_container_frm {
    margin-left: 27%;
    margin-right: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gold;
    border-style: solid;
    border-radius: 40px;
    text-align: center;
}

.flex_container_calcul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container_calcul {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.container_somme {
    margin-bottom: 10px;
}

/***************************************************************************************************************/

/* Bloc Animation de couleur et d'Images */

#animation_color {
    transition: background 1s;
    border-style: solid;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.deuxième_titre {
    font-weight: 400;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: color 1s;
}

#image_Beetlejuice:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#image_Flandre_S:hover {
    -webkit-transform: scale(-1);
    transform: scale(0.75);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#image_Exortist_Screamer:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#image_Zombatar1:hover {
    filter: invert(100%);
}

/***************************************************************************************************************/

/* Bloc de Redirection vers des autres sites */

.flex_deuxieme_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
}

#Photo_PaysageJap {
    margin-left: 30px;
    width: 300px;
    height: 200px;
    border-style: groove;
    border-width: 1em;
    border-color: rgb(153, 0, 0);
}

#Photo_PaysageJap:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#Photo_Gauntlet_Dark_Legacy {
    filter: blur(5px);
    margin-right: 30px;
    width: 300px;
    height: 200px;
    border-style: groove;
    border-width: 1em;
    border-color: rgb(0, 79, 153);
}

#Photo_Gauntlet_Dark_Legacy:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/***************************************************************************************************************/

/* Bloc de Jeu (Assez marrant) */

.style_container_jeu {
    background-color: orange;
    border-radius: 80px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 32.5%;
    margin-right: 32.5%;
    color: orangered;
    font-size: 20px;
    text-align: center;
}

/***************************************************************************************************************/

/* Bloc de Jeu (Pas très amusant + En mémoire de Karl T */

.style_container_DM {
    background-color: #0000007a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px
}

.title_PJC {
    color: white;
    padding-bottom: 20px
}

.cta_catch {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.input_cursor {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: crosshair;
    text-decoration: none;
}

.input_cursor:hover {
    background-color: orange;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Pied de Page */

.style_container_piedpage {
    background-color: black;
    margin-bottom: -8px;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 40px;
}

/***************************************************************************************************************/

/* Responsive */

@media screen {
    /*coming soon*/
}


/***************************************************************************************************************/