body {
	background-color:rgb(240, 33, 33);
	margin-left:10px;
	margin-right:10px;
}
.styleborder1 {
	border:solid;
	background-color:rgb(126, 120, 179);
	padding-left:5px;
	padding-right:5px;
}
.stylefont1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#imgeffect1 {
	filter: grayscale(100%);
}
.styletableau1 {
	border: 4mm ridge rgba(255, 220, 255, 155);
	border-radius: 30px;
	background-color:rgb(238, 38, 118);
	padding-left:5px;
	padding-right:5px;
	margin-left:-5px;
	margin-right:-5px;
}
#stylep1 {
	background-color:#09C;
	padding-left:5px;
	padding-right:5px;
	margin:-5px;
}
.stylecolorp1:hover {
	color:#FFF;
}
#stylep2 {
	background-color:#00C;
	padding-left:5px;
	padding-right:5px;
	margin:-5px;
}
.stylecolorp2:hover {
	color:#CF0;
}
#stylep3 {
	background-color:#09C;
	padding-left:5px;
	padding-right:5px;
	margin:-5px;
}
.stylecolorp3:hover {
	color:#FFF;
}
.column {
	float: left;
	width: 31.8%;
	padding: 10px;
	height: 300px;
	font-family:"Comic Sans MS", cursive;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
#styleborder2 {
	background-color:#93C;
	padding: 10px;
}
#stylefont2 {
	font-size:12px;
	font-family:"Times New Roman", Times, serif;
}
#styleborder3 {
	background-color: #963;
	padding: 10px;
}
#stylefont3 {
	font-size:12px;
	font-family:"Times New Roman", Times, serif;
}
#styleborder4 {
	background-color:#CC0;
	padding: 10px;
}
#stylefont4 {
	font-size:12px;
	font-family:"Times New Roman", Times, serif;
}
#imgeffect2 {
	filter: blur(3px);
}
#imgeffect2:hover {
	filter: blur(0);
}
.footer {
	background-color: #f1f1f1;
	padding:5px;
	margin-left:-5px;
	margin-right:-5px;
	text-align: center;
}
 @media (max-width: 600px) {
 .column {
 width: 100%;
  }
}