/* Général */

html {
  font-family: 'Raleway', sans-serif;
  background-image: url("images/jardin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}

body {
  width: 800px;
  margin: 0 auto;
}

/* Typographie */

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  background: url(icons/bean_can.png) no-repeat 2% center, url(icons/bean_can.png) no-repeat 98% center;
  background-size: 48px 48px;
}

h2 {
  font-size: 2rem;
  color: yellow;
  text-align: right;
  position: absolute;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.3rem;
}



p, label, input, select, button, li {
  font-size: 1.5rem;
}

li {
  line-height: 1.5;
}

/* style de bloc */

header, aside, main, footer {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

header {
  border: 5px solid black;
  border-bottom: 0;
}

aside {
  border-bottom: 5px solid black;
}

body > div {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

footer {
  border: 5px solid black;
  border-top: 0;
  background-color: red;
}

aside {
  flex: 3;
  background-color: rgb(9, 88, 6);
}

main {
  flex: 7;
  background: linear-gradient(to right, blue, white);
}

/* Style de forme */

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

label, select, input {
  display: block;
}

label {
  margin-bottom: 5px;
}

select, input, button {
  width: 100%;
}

input {
  background: black;
  box-shadow: inset 1px 1px 1px white;
  color: rgb(21, 255, 0);
  border: none;
  padding: 5px;
  width: 201.5px;
}

button {
  background: black;
  color: yellow;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
}

button:hover {background-color: #23ad00}

/* Styliser les produits */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 45%;
  margin: 10px;
  background-color: black;
  position: relative;
  height: 250px;
}

section img {
  width: 100%;
  height: 76%;
  display: block;
  position: absolute;
  bottom: 10px;
}

section p {
  color: rgb(172, 0, 172);
  background: linear-gradient( rgb(1, 149, 160), white);;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 4px 4px 2px rgb(148, 0, 161);
  position: absolute;
  right: 25px;
  bottom: -1px;
  z-index: 2000;
}

.vegetables {
  background: black url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.meat {
  background: black url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soup {
  background: black url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}
