/* Premier Titre */

.premier_titre {
    margin: 20%;
    margin-left: 38%;
    margin-right: 38%;
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

    .premier_titre {
        margin-left: 34%;
        margin-right: 34%;
    }

}

@media screen and (max-width: 980px) {

    .premier_titre {
        margin-left: 28%;
        margin-right: 28%;
    }

}

@media screen and (max-width: 680px) {

    .premier_titre {
        margin-left: 18%;
        margin-right: 18%;
    }

}

@media screen and (max-width: 480px) {

    .premier_titre {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/***************************************************************************************************************/