/* Corps de la page */

body {
    background: url(images/Binary_System-Code_Wallpaper.png) no-repeat center fixed; 
    background-size: cover;
}

/***************************************************************************************************************/

/* "Bloc Premier" */

.style_container_premier {
    background: linear-gradient(rgb(255, 238, 0), rgb(255, 0, 0));
    padding: 10px;
}

/***************************************************************************************************************/

/* "Bloc Deuxième" */

.style_container_deuxieme {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 255, 64, 0.6);
    border-radius: 50px;
    border-style: solid;
    text-align: center;
}

/***************************************************************************************************************/

/* Taille des Photos des Langages Informatique */

#Photo_CV, #Photo_CanStore, #Photo_HTML, #Photo_Javascript, #Photo_SQL, #Photo_Python, #Photo_VB, #Photo_CSharp, #Photo_XML {
    width: 75px;
    height: 75px;
}

#Photo_CSS {
    width: 50px;
    height: 75px;
}

#Photo_PHP {
    width: 125px;
    height: 75px;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Responsive */

@media screen {
    /*coming soon*/
}

/***************************************************************************************************************/