/* Corps de la page */

body {
    background: url(images/Matrix_Effect.gif) no-repeat center fixed;
    background-size: cover;
}

/***************************************************************************************************************/

/* "Bloc Premier" */

.style_container_premier {
    background: linear-gradient(rgb(255, 238, 0), rgb(255, 0, 0));
    padding: 10px;
}

/***************************************************************************************************************/

/* "Bloc Deuxième" */

.style_container_deuxieme {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(14, 231, 43, 0.5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
}

/***************************************************************************************************************/

/* Taille des Photos des Projets BTS SIO option SLAM */

#Photo_CV,
#Photo_CanStore,
#Photo_ChopesGames {
    padding: 10px;
    width: 300px;
    height: 300px;
}

/***************************************************************************************************************/

/* Texte "Coming Soon" */

.text_comingsoon {
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

    #Photo_CV,
    #Photo_CanStore,
    #Photo_ChopesGames {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 680px) {

    .style_container_deuxieme {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        height: 30em;
    }

    #Photo_CV,
    #Photo_CanStore,
    #Photo_ChopesGames {
        width: 125px;
        height: 125px;
    }

}

@media screen and (max-width: 480px) {

    .text_comingsoon {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/***************************************************************************************************************/