/* Corps de la page */

body {
    background: url(../images/Matrix_Effect.gif) no-repeat center fixed; 
    background-size: cover;
}

/***************************************************************************************************************/

/* Premier Titre */

.premier_titre {
    margin-top: 20px;
    margin-left: 37%;
    margin-right: 37%;
    background-color: rgb(238, 255, 0);
    border-style: groove;
    border-color: cyan;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

/***************************************************************************************************************/

/* Style Bloc "ExoJS" */

.exo_js {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 37%;
    margin-right: 37%;
    background-color: rgba(0, 255, 64, 0.6);
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    text-align: center;
}

/***************************************************************************************************************/

/* Couleur texte de lien */

.couleur_lien {
    color: black;
    text-decoration: none;
}

/***************************************************************************************************************/

/* Responsive */

@media screen and (max-width: 1280px) {

    .premier_titre {
        margin-left: 30%;
        margin-right: 30%;
    }

    .exo_js {
        margin-left: 30%;
        margin-right: 30%;
    }

}

@media screen and (max-width: 980px) {

    .premier_titre {
        margin-left: 22%;
        margin-right: 22%;
    }

    .exo_js {
        margin-left: 22%;
        margin-right: 22%;
    }

}

@media screen and (max-width: 680px) {

    .premier_titre {
        margin-left: 12%;
        margin-right: 12%;
    }

    .exo_js {
        margin-left: 12%;
        margin-right: 12%;
    }

}

@media screen and (max-width: 480px) {

    .premier_titre {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 22px;
    }

    .exo_js {
        margin-left: 4%;
        margin-right: 4%;
    }

}