#rose {
    background-color: pink;
    height: 5%;
}

#vert {
    background-color: green;
    height: 5%;
}

#bleu {
    background-color: blue;
    height: 5%;
}

#section {
    width: 170px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}